*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.app{
  display:flex;
  flex-direction:column;
  align-items: center;
  height:100vh;
  width:100vw;
  background-color:#1e555c;
  padding:1px;
  
}

*::selection{
  background: transparent;
}

.title{
  margin-top:160px;
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  font-size: 50px;
  font-weight: 500;
}

.break-session-length{
  display: flex;
  justify-content: center;
  gap:100px;
}

.break-length, .session-length{
  display:flex;
  flex-direction:column;
  align-items: center;
  font-size:30px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

.break-increment, .session-increment{
  display: flex;
  position: relative;
  width: 150px;
  height: 40px;
  justify-content: center;
}

.break-increment > p{
  position: absolute;
  left:60px;
  min-width:30px;
  width:30px;
  text-align:center
  
}

.session-increment > p{
  position: absolute;
  left:60px;
  min-width:30px;
  width:30px;
  text-align:center

}

.arrow-up, .arrow-down {
  position: absolute !important; 
  margin-top: 4px !important; 
  font-weight: bolder;
  font-size: 30px;
}


.arrow-up { left: 20px; }
.arrow-down { right: 20px; }


.arrow-up.clicked, .arrow-down.clicked {
  font-size: 28px;
 }
.session{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:5px solid black;
  width:250px;
  height:150px;
  border-radius:40px;
  margin-top:20px;

}

.session-title{
  font-size:25px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

.session-time{
  font-size:50px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

.session-title-danger{
  font-size:25px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.session-time-danger{
  font-size:50px;
  color:red;
  font-family: 'Times New Roman', Times, serif;
}


.controller{
  display:flex;
  margin-top:20px;
  gap:10px;
}

.play, .pause, .reset{

  color:white;
  width:25px;
  height:25px;
}

.play:active{
  transform:scale(0.95)
}

.pause:active{
  transform:scale(0.95)
 
}
.reset:active{

  transform:scale(0.95)

}


.break-increment > p::selection{

   background:transparent

}

.session-increment > p::selection{

  background:transparent

}